.input-container {
  display: flex;
  width: 100vw;
  max-width: 400px;
  border-radius: 2em;
  background-color: #252a34;
}

.region-select {
  height: 100%;
  min-width: 70px;
  background-color: #252a34;
  color: inherit;
  padding-left: .8em;
  padding-right: .5em;
  border: none;
  outline: none;
  border-radius: 9999px;
}

.name-input-container {
  position: relative;
  flex-grow: 1;
}

.name-input {
  background-color: unset;
  padding: 1em 1em;
  border-style: none;
  color: inherit;
  outline: none;
  width: 100%
}

.find-button {
  all: unset;
  padding: 0 1em;
  border-radius: 9999px;
  height: 100%;
}

.dropdown-container {
  visibility: hidden;
  position: absolute;
  background-color: #252a34;
  width: 100%;
  max-height: 200px;
  cursor: pointer;
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-container::-webkit-scrollbar {
  width: 10px;
}

.dropdown-container::-webkit-scrollbar-track {
  background-color: #252a34; 
}
 
.dropdown-container::-webkit-scrollbar-thumb {
  background: #2c3240;
  border-radius: .25em; 
}

.dropdown-container::-webkit-scrollbar-thumb:hover {
  background: #313848; 
}

.dropdown-item {
  padding: .5em .75em;
  user-select: none;
}

.dropdown-container.open {
  visibility: visible;
}

.dropdown-item:hover {
  background-color: #313845;
}