<div class="input-container">
  <div class="region-select-container">
    <select class="region-select" #regionSelect
      (change)="onRegionChange()">
      <option *ngFor="let regionName of regionNames"
        [value]="regions[regionName]">{{regionName}}</option>
    </select>
  </div>
  <div class="name-input-container"
    (keydown.arrowup)="inputOnArrowPress('up')"
    (keydown.arrowdown)="inputOnArrowPress('down')"
    #inputContainer>
    <input class="name-input" #summonerInput type="text"
      placeholder="Find summoner..."
      (keydown.enter)="findSummoner()">
    <div class="dropdown-container"
      [class.open]="dropdownOpen"
      #dropdownContainer>   
      <div class="dropdown-item"
        *ngFor="let suggestion of nameSuggestions;" tabindex="0"
        (click)="dropdownItemClicked(suggestion)"
        (keydown.enter)="dropdownItemClicked(suggestion)">
        {{ suggestion }}
      </div>
    </div>
  </div>

  <div class="find-button-container">
    <button class="find-button" type="button"
      (click)="findSummoner()">
      Find
    </button>
  </div>
</div>