<div class="input-container">
  <div class="region-select-container">
    <select class="region-select" #regionSelect
      (change)="onRegionChange()">
      <option *ngFor="let regionName of regionNames"
        [value]="regions[regionName]">{{regionName}}</option>
    </select>
  </div>
  <div class="name-input-container">
    <input class="name-input" #summonerInput type="text"
      placeholder="Find summoner..."
      (keydown.enter)="findSummoner()"
      (focus)="onInputFocus()"
      (blur)="onInputBlur()">
    <div class="dropdown-container" [class.open]="isInputFocused">
      <div class="dropdown-item"
        *ngFor="let suggestion of nameSuggestions"
        (click)="dropdownItemClicked(suggestion);">
        {{ suggestion }}
      </div>
    </div>
  </div>

  <div class="find-button-container">
    <button class="find-button" type="button"
      (click)="findSummoner()">
      Find
    </button>
  </div>
</div>