<div class="spinner-container" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
<div class="error-container" *ngIf="error && !loading">
  <p>Summoner "{{searchedName}}" was not found!</p>
</div>
<div class="grid-box" *ngIf="!loading && !error">
  <div class="grid-item profile-header">
    <div class="summoner-icon-container">
      <span class="summoner-level">{{summoner?.summonerLevel}}</span>
      <div class="summoner-icon-border">
        <img class="summoner-icon" *ngIf="!!summoner" [src]="iconPath" alt="Summoner Icon">
      </div>
    </div>
    <div class="summoner-info-container">
      <p class="summoner-info-name">{{summoner?.name}}</p>
      <button class="btn btn-blue" type="button"
        (click)="updateSummoner()">
        Update
      </button>
    </div>
    <div class="summoner-masteries-container" *ngIf="!!summoner">
      <img class="champion-icon"
        *ngFor="let mastery of summoner.championMasteries"
        [src]="mastery.championIconPath" alt="Champion icon">
    </div>
  </div>
  <div class="grid-item ranked">
    <div class="league-entry-container">
      <p class="queue-type">Ranked Solo/Duo</p>
      <div class="rank-info-container">
        <div class="ranked-emblem-container">
          <img class="ranked-emblem" [src]="soloLeagueEntry?.emblemUrl">
        </div>
        <div class="tier-lp-container">
          <div class="tier-rank">
            {{ soloLeagueEntry?.tier | titlecase }} {{ soloLeagueEntry?.rank }}
          </div>
          <div class="lp">
            {{ soloLeagueEntry?.leaguePoints }} LP
          </div>
        </div>
        <div class="wr-container">
          <div class="wins-losses">{{ soloLeagueEntry?.wins }}W / {{ soloLeagueEntry?.losses }}L</div>
          <div class="win-ratio">
            WR {{ soloLeagueEntry?.winRatio }}
          </div>
        </div>
      </div>
    </div>
    <div class="league-entry-container">
      <p class="queue-type">Ranked Flex</p>
      <div class="rank-info-container">
        <div class="ranked-emblem-container">
          <img class="ranked-emblem" [src]="flexLeagueEntry?.emblemUrl">
        </div>
        <div class="tier-lp-container">
          <div class="tier-rank">
            {{ flexLeagueEntry?.tier | titlecase }} {{ flexLeagueEntry?.rank }}
          </div>
          <div class="lp">
            {{ flexLeagueEntry?.leaguePoints }} LP
          </div>
        </div>
        <div class="wr-container">
          <div class="wins-losses">{{ flexLeagueEntry?.wins }}W / {{ flexLeagueEntry?.losses }}L</div>
          <div class="win-ratio">
            WR {{ flexLeagueEntry?.winRatio }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item right-panel">
    <nav class="right-panel-nav">
      <ul>
        <li><a routerLinkActive="active" routerLink="match-history">Match history</a></li>
        <li><a routerLinkActive="active" routerLink="champion-mastery">Champions</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>