<div class="flex-container">
  <header>
    <h1>Summonerstats</h1>
    <nav>
      <ul>
        <li routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="about">About</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  
  <footer>
    <p>&copy; 2023 My Website. All rights reserved.</p>
  </footer>
</div>