<div class="flex-container">
  <header class="header">
    <h1 class="logo">SummonerStats</h1>
    <nav class="nav">
      <ul>
        <li routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="about">About</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="search-container" *ngIf="showTopSearch">
    <app-find-summoner-input class="search"></app-find-summoner-input>
  </div>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  
  <footer>
    <p>&copy; 2023 My Website. All rights reserved.</p>
  </footer>
</div>