.flex-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

header {
  background-color: silver;
}

header h1 {
  margin: 0;
}

footer {
  background-color: silver;
}
