.flex-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #212125;
  color: #C3CBD1;
}

.content {
  flex-grow: 1;
  padding: .5em;
}

header {
  background-color: #28344E;
  color: #C3CBD1;
}

header ul {
  margin: 0;
  padding: 0;
}

header h1 {
  margin-top: 0.3em;
  margin-bottom: 0;
  margin-left: 0.3em;
}

header a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: .5em;
}

header li {
  list-style: none;
  display: inline-block;
}

header a:hover {
  background-color: #2f426c;
}

footer {
  color: #818689;
  font-size: 12px;
  border-top: solid #2f3132 1px;
}


